body {
  font-family: -apple-system, BlinkMacSystemFont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 1px;
  width: calc(100% - 2px);
  height: 739px;
}
/* Centering any content */
#searchMenu, #options, #optionInputs, header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Positioning biggest divs */
header {
  height: 10%;
  width: 100%;
  color: #000000;
  background: linear-gradient(-45deg, black,#507DBC, #A1C6EA, #BBD1EA, #A1C6EA, #507DBC, black);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
footer {
  height: 10%;
  width: 100%;
  color: #04080F;
  background-color: #BBD1EA;
}
#middle {
  height: 80%;
  max-height: 80%;
  width: 100%;
}
/* Inside middle */
#interactive {
  height: 100%;
  width: 20%;
  float: left;
  background-color: #BBD1EA;
  overflow: auto;
}
#queryResult {
  height: 100%;
  width: 80%;
  float: right;
  background-color: #BBD1EA;
}
/* Style and positioning inside interactive div */
#searchMenu {
  height: 10%;
  background-color: #507DBC;
}
#tables {
  height: 90%;
  background-color: #507DBC;
  border-radius: 0 0 1rem;

}
/* Table names ul li*/
.wrapperTableNames ul {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 10px;
}
.wrapperTableNames li {
  background: url(pictures/cells512.png) right no-repeat;
  background-size: contain;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-shadow: .5px .5px black;
}
.wrapperTableNames li:hover {
  background-color: #A1C6EA;
}

/* Table values */
.wrapperTableValues {
  width: 500px;
  height: 110px;
  overflow: auto;
  text-align:justify;
}
.wrapperTableValues th,td {
  text-align: center;
  padding: 8px;
}
.wrapperTableValues td:hover {
  background-color: #507DBC;
}
.wrapperTableValues caption {
  background-color: #507DBC;
  border-bottom: 2px black double;
}
.wrapperTableValues th {
  color: #A1C6EA;
  background: #507DBC;
  text-shadow: 2px 2px black;
}
.wrapperTableValues tr:nth-child(even) {
  background: #BBD1EA;
}
.wrapperTableValues table {
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

/* Button */
.btnWrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  border: none;
  width: 90%;
  transition: all 0.9s ease;
}
.btnWrapper:hover {
  color: #507DBC;
  background-color: #BBD1EA;
}

/* Search input and column Select */
.textWrapper, #selectSearchInput {
  padding: 0;
  color: #333;
  background-color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  border: none;
  width: 90%;
  transition: all 0.3s;
  text-align: center;
}
#selectSearchInput {
  margin-top: 1px;
  margin-bottom: 1px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #507DBC;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #507DBC;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #BBD1EA;
  border-radius: 2rem;
}


